<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Монополия</title>
    <link rel="stylesheet" href="game.css">
</head>
<body>

    <div id="game-board">

    </div>

    <div id="game-info">

    </div>

    <div id="controls">
        <button id="rollButton">Бросить кубики</button>
        <button id="purchaseButton">Купить недвижимость</button>
        <button id="buildButton">Построить дом/отель</button>
        <button id="pledgeButton">Заложить имущество</button>
        <button id="bankruptcyButton">Подача на банкротство</button>
        <button id="rentButton">Заплатить арендную плату</button>
    </div>

    <script src="game.js"></script>

</body>
</html>