{% extends "base.html" %}

{% block app_content %}
<div class="index">
    <div class="index-bigboard">
        <div class="widther">
            <div class="index-bigboard-top">
                <div class="index-bigboard-top-title">
                    Приглашаем в Монополию.
                </div>
                <div class="index-bigboard-top-text">
                    Это отличное место, чтобы поиграть с друзьями в легендарную настольную игру.
                </div>
            </div>
            <div class="index-bigboard-action">
                <a href="{{ url_for('main.login') }}" class="btn">
                    Начать игру
                </a>
            </div>
            <div class="index-bigboard-picture">
                <picture>
                    <img src="/static/images/screenshot.png">
                </picture>
            </div>
        </div>
    </div>
    <div class="index-break"></div>
    <div class="index-title">
        Почему вам понравится играть у нас?
    </div>
    <div class="widther index-features">
        <div class="index-features-one">
            <div class="index-features-one-image" data-image="okay"></div>
            <div class="index-features-one-text">
                <h4>Это бесплатно!</h4>
                <div>Просто создайте аккаунт и начните играть — никаких
                подписок и платежей.</div>
            </div>
        </div>
        <div class="index-features-one">
            <div class="index-features-one-image" data-image="dices"></div>
            <div class="index-features-one-text">
                <h4>Множество режимов</h4>
                <div>Мы создали множество режимов с уникальными механиками, в которых вы всегда испытаете что-то новое.</div>
                <div>А классические правила были улучшены, чтобы было интереснее играть в онлайне.</div>
            </div>
        </div>
        <div class="index-features-one">
            <div class="index-features-one-image" data-image="cup"></div>
            <div class="index-features-one-text">
                <h4>Соревнования</h4>
                <div>Играйте в Соревновательном режиме, чтобы получить звание и поднимать его с каждой победой.</div>
            </div>
        </div>
        <div class="index-features-one">
            <div class="index-features-one-image" data-image="rating-positive"></div>
            <div class="index-features-one-text">
                <h4>Новые друзья</h4>
                <div>Находите интересных вам игроков и добавляйте их в друзья. Общайтесь в личных сообщениях, обсуждая новые тактики — ну или делитесь новыми мемами.</div>
            </div>
        </div>
        <div class="index-features-one">
            <div class="index-features-one-image" data-image="delivery"></div>
            <div class="index-features-one-text">
                <h4>Коллекционирование</h4>
                <div>У нас имеется множество предметов, некоторые из которых очень редкие. Соберите себе коллекцию из того, что вам больше нравится!</div>
            </div>
        </div>
        <div class="index-features-one">
            <div class="index-features-one-image" data-image="planet"></div>
            <div class="index-features-one-text">
                <h4>Играйте где угодно</h4>
                <div>Вы можете играть на любом устройстве, где есть браузер — хоть на компьютере из дома, хоть на телефоне, пока едете в метро.</div>
            </div>
        </div>
    </div>
    <div class="index-bottom">
        <a href="{{ url_for('main.login') }}" class="btn-bottom">Начать игру</a>
    </div>
</div>
{% endblock %}